.vi-center {
    margin-left: 50%;
    transform: translateX(-50%);
}

a {
    color: rgb(133, 77, 156);
    text-decoration: none;

    background: linear-gradient(0deg, hsl(0, 0%, 47%), transparent 40%);
    background-size: 100% 10px;
    background-position: 0px 100%;
    background-repeat: no-repeat;
    transition: all 1s;
}

a:hover {
    background-size: 100% 100%;
}

